body {
  color: #222;
  font-family: sans-serif;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  position: relative;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    // background-image: url('../images/enlist.jpg');
  }

  #app {
    padding: 1em 2em;
  }
}

.navigation {
  &:hover .item {
    border-bottom-color: transparent !important;
  }

  .item {
    transition: all 0.3s ease !important;

    &:hover {
      border-color: #1b1c1d !important;
    }
  }
}

.cards > .card {
  box-shadow: none !important;
}

.page-content {
  padding-top: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

.pages {
  position: relative;

  > * {
    position: absolute;
    width: 100%;
  }
}

.padded {
  padding: 1em;
}

.tag {
  .edit-button {
    visibility: hidden;
  }

  &:hover .edit-button {
    visibility: visible;
  }

  .highcharts-container {
    height: 15em !important;
  }
}

.ui.editable-groupname > input {
  position: relative;
  top: 0.5em;
  padding: 0.5em 0.8em;
  font-weight: bold;
}

.ui.editable-groupname:hover:after {
  content: 'edit';
  display: inline-block;
  margin-top: 1em;
  color: #ccc;
}

.editable-groupname.dirty {
  & > input {
    color: #3090C5 !important;
  }

  &:after {
    content: 'editing' !important;
    display: inline-block;
    margin-top: 1em;
    color: #ccc;
  }
}
