body {
  color: #222;
  font-family: sans-serif;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  position: relative;

  // &:before {
  //   content: '';
  //   z-index: -1;
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   opacity: 0.2;
  //   background-image: url('./client/images/enlist.jpg');
  // }

  .page-content {
    clear: both;
    padding-top: 1em;
  }
}

.navbar {
  background-color: #222;
  padding: 1em 1.2em;
  float: left;
  width: 100%;

  .header, > .menu {
    float: left;
    margin: 0;
  }

  .header {
    margin-top: 0 !important;
  }
}

.header.huge {
  font-weight: lighter;
}

blockquote {
  display: block;
  border-left: 0.3em solid #ddd;
  font-size: 1.5em;
  padding: 0 1em 0 1em;
  margin-bottom: 1em;
  margin: 0 0 1em 0;
  line-height: 1.1em;
}
